@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Nunito:wght@300&family=Roboto&display=swap');

/* Thank you "Ollie Williams" for cool text style */
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --titleSection {
  font-family: Rocher;
  base-palette: 7;
}
/* ******************************************************************* */

:root {
  --clr-primary: hsl(215deg 66.67% 24.71%);
  --clr-headers: hsl(73, 87%, 69%);
  --clr-neutraldark: hsl(212, 23%, 46%);
  --clr-contentBg: hsl(55, 48%, 78%);
  --clr-neutral-white: hsl(0, 0%, 93%);
  --clr-neutral-black: hsl(0, 0%, 3%);
}

/* Tips from this css reset https://andy-bell.co.uk/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* ******************************************************************* */

html {
  height: 100%;
}

/* Set core body defaults */
body {
  background-image: url('../images/geoMasterdtfmind\ \(1980\ ×\ 1080px\).png');
  background-color: var(--clr-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  /* Scale image to 100% of container width */
  background-position: center;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100vh;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: var(--clr-headers);
}

h2{
  font-family: 'Lato', sans-serif;
}

p,
h3,
h4,
h5 {
  font-family: 'Nunito', 'Roboto', sans-serif;
  color: var(--clr-neutral-white);
}


/* **************** MAIN WRAPPER STARTS HERE **************** */
#main-wrapper {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-section {
  margin: auto;
  width: 100%;
}

.main-title {
  font-weight: bold;
  margin: 2rem auto;
}

.main-title h2 {
  font-size: clamp(2.5rem, 6vw, 3.75rem);
  color: white;
}

/* Main-Button Style */
.button-group .main-btn {
  background-color: var(--clr-contentBg);
  color: rgb(19, 131, 19);
  font-size: 1.438rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 32px;
  margin: 1rem auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 15rem;
  height: 4rem;
  display: block;
}

.button-group .main-btn:not(:last-child) { /* Prevent double borders */
  border-bottom: none;
}

.button-group .main-btn:hover {
  background-color: #d3d043;
}

/* Hidden by default */
.hidden {
  display: none;
}

/* Popup Rules Style */
#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-contentBg);
  width: 600px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 1rem;
  z-index: 1;
}

#return-btn{
  background-color: lightcoral;
  color: var(--clr-neutral-black);
  font-weight: 800;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 10px;
  cursor: pointer;
}

.button-group ol li {
  color: var(--clr-neutral-black);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px 45px;
  list-style-type: square;
}

.button-group ol {
  text-align: left;
}
.button-group span {
  font-size: 1.3rem;
  color: rgb(69, 191, 196);
}

.title-section,
.quiz-section .title-section {
  font-palette: --titleSection;
  font-family: 'Rocher';
  text-align: center;
  font-size: 3rem;
}

.hidden {
  display: none;
}
/* **************** MAIN WRAPPER ENDS HERE **************** */


/* **************** QUIZ WRAPPER STARTS HERE **************** */

.quiz-section{
  background: var(--clr-contentBg);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.quiz-section h1{
  font-size: 25px;
  color: var(--clr-neutral-black);
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz{
  padding: 20px 0;
}

.quiz h2{
  font-size: 18px;
}

.quiz-btn{
  background: white;
  color: var(--clr-neutral-black);
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--clr-neutral-black);
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.quiz-btn:hover:not([disabled]){ /* If disabled, no black over effect will be displayed */
  background: var(--clr-neutral-black);
  color: var(--clr-neutral-white);
}

.quiz-btn:disabled{ /* Changes the mouse icon to a "block" icon when hovering the question. */
  cursor: no-drop;
}

#next-btn, 
#back-btn{
  background-color: lightcoral;
  color: var(--clr-neutral-black);
  font-weight: 800;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

.correct{
  background-color: rgb(152, 207, 152);
}

.incorrect{
  background-color: rgb(230, 134, 134);
}

#question{
  text-align: center;
}
.quiz-image{
  width: 80%;
  height: 80%;
  margin: auto;
  padding: 10px;
}

.calc-section{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}
.timer {
  background: #c1bd93;
  color: hsl(0, 0%, 3%);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  padding: 5px;
  justify-content: space-between;
  border-radius: 5px;
  
}
.timer-sec{
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
/* **************** QUIZ WRAPPER ENDS HERE **************** */


/* **************** MOBILE RESPONSIVE STYLESHEET STARTS HERE **************** */
@media (max-width: 30rem) {
  body {
    background-image: url('../images/geoMasterdtfmind\ \(360\ ×\ 640px\).png');
    background-size: auto 100%;
    background-color: var(--clr-primary);
    /* Scale image to 100% of container height */
    background-position: top;
    /* Align image to the top */
  }

  #main-wrapper {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .main-title {
    font-weight: bold;
    margin: 1rem 0.5rem auto;
  }

  .button-group .main-btn {
    background-color: var(--clr-contentBg);
    color: green;
    font-size: 1.125rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 32px;
    margin: 1rem auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    width: 14rem;
    height: 3rem;
    display: block;
  }

  .main-section h3 {
    font-size: 1rem;
  }

  .main-title h2 {
    font-size: 8vw;
  }
}

@media (max-width: 58.75rem) {
  body {
    background-image: url('../images/geoMasterdtfmind\ \(1366\ ×\ 768px\).png');
    background-size: auto 100%;
    background-color: var(--clr-primary);
    /* Scale image to 100% of container height */
    background-position: top;
    /* Align image to the top */
  }
}

@media only screen and (max-width: 600px) {
  #popup {
    width: 100%;
  }

  .button-group ol li {
    color: var(--clr-neutral-black);
    font-size: 0.75rem;
    font-weight: bold;
    margin: 15px 15px;
    list-style-type: square;
  }
  .button-group ol {
    text-align: left;
  }
  
  .return-button{
    background-color: lightcoral;
    font-weight: bold;
    border: none;
    margin-top: 2rem;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 7rem;
    height: 2rem;
  }
  
  .title-section {
    font-palette: --titleSection;
    font-family: 'Rocher';
    text-align: center;
    font-size: 3rem;
  }
}
